body {font-family: Arial, Helvetica, sans-serif;}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
	--purelight:#FFFFFF;
	--light: #ffffff;
	--green:#5fda8e;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #eeeef0;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}


* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
    font-family: 'Inter', sans-serif;
}
.nav{

	width: 100%;
	display: flex;
	justify-content: center;
}

header{
	margin: 5px;
    width: 80%;
    height: 65px;
    background-color: var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 1000;
	border-radius: 12px;
}
header .header-brand{
   
    margin: 0 10px;
    text-decoration: none;
    white-space: nowrap;
	color: var(--green);
	font-size: 26px;
    font-weight: 800;
    letter-spacing: 1px;
}
.format{
    font-size: 14px;
    margin: 0 8px;
}
.switch{
    margin: 0 10px 0 0;
    display: flex;
    align-items: center;
}

.switch .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--light);
	cursor: pointer;
	position: relative;
}
.switch .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--green);
	border-radius: 50%;
	transition: all .3s ease;
}
.switch #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}


.main-image{
	margin: 20px 5px;
}

.search-section{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.search-section .info{
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark);
}

.form-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-input input{
    flex-grow: 1;
    margin: 0 8px;
    padding: 0 16px;
    height: 45px;
    border: none;
    background: var(--dark-grey);
    border-radius: 10px;
    outline: none;
    width: 500px;
    color: var(--dark);
}
.form-input button{
    width: 80px;
    height: 45px;
    justify-content: center;
    align-items: center;
    background: var(--green);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  border-radius: 25px 25px 0 0;
}

/* The Close Button */
.close {
  color: rgb(255, 113, 113);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
	padding: 11px 16px;
    /* background-color: #5cb85c; */
    color: black;
    text-align: center;

}

.modal-body {padding: 2px 16px;overflow: auto;}

.modal-footer {
	padding: 11px 16px;
    /* background-color: #5cb85c; */
    color: black;
    text-align: center;

}
iframe{
    overflow: auto !important;
    scroll-behavior: smooth;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@media screen and (max-width: 576px) {

	header{
        width: 98%;
		justify-content: space-between;
	}
	header .header-brand{
  		 font-size: 14px;
	}
    .switch{
        margin: 0 3px 0 0;
    }
	.search-section{

    flex-direction: column;
    align-items: center;
    justify-content: center;
	}

	svg{
		width: 110px;
		height: 115px;
	}
	.info p{
		font-size: 12px;
	}
	.form-input{
        flex-direction: column;
    }

    .form-input input{
        margin: 8px 0;
        width: 280px;
        
    }
    .form-input button{
        width: 80px;
        height: 45px;
    }
	.main-image{
		margin: 5px;
	}
    .format{
        font-size: 12px;
        margin: 0 4px;
    }
    iframe{
        min-height: 435px !important;
    }
}